.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    column-gap: 20px;
    row-gap: 30px;
}

.add_icon{
    align-self: end;
    cursor: pointer;
    color: #3A7734;
    transform: scale(1.5);
}

.main_wrapper{

}