.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    column-gap: 20px;
    row-gap: 30px;
}

.create_button{
    margin-right: 10%;
}

.add_icon {
    align-self: end;
    cursor: pointer;
}

.main_wrapper {
    overflow: scroll;
    height: 100vh;
    padding-bottom: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5%;

}

.table_title {
    padding-left: 1%;
}